# ==========================================================================
# Subversion Control:
# $Revision$
# $Date$
# ==========================================================================
#
# File     : stn2tft_top.v
# Author   : Handsome Huang
# Abstract : STN2TFT FPGA pin assignment
#
# ==========================================================================
# Modification History:
# Date          By           Changes Description
# ----------------------------------------------------------------------
# 2012/09/01    Handsome     New creation
#
# ==========================================================================
  NET P_RST_X       LOC = P73;
  NET P_MCLKI       LOC = P83;

  NET P_CE_X        LOC = P70;
  NET P_A0          LOC = P68;
  NET P_WR_X        LOC = P71;

  NET P_D7          LOC = P61;
  NET P_D6          LOC = P60;
  NET P_D5          LOC = P56;
  NET P_D4          LOC = P57;
  NET P_D3          LOC = P59;
  NET P_D2          LOC = P62;
  NET P_D1          LOC = P64;
  NET P_D0          LOC = P65;

  NET P_FPSHIFT     LOC = P50;
  NET P_FPLINE      LOC = P36;
  NET P_FPFRAME     LOC = P35;

  NET P_FPDAT3      LOC = P49;
  NET P_FPDAT2      LOC = P43;
  NET P_FPDAT1      LOC = P41;
  NET P_FPDAT0      LOC = P39;

  NET P_DCLK        LOC = P77;
  NET P_HSYNC       LOC = P78;
  NET P_VSYNC       LOC = P44;
  NET P_DEN         LOC = P13;

  NET P_R5          LOC = P90;
  NET P_R4          LOC = P89;
  NET P_R3          LOC = P88;
  NET P_R2          LOC = P86;
  NET P_R1          LOC = P85;
  NET P_R0          LOC = P84;
  
  NET P_G5          LOC = P10;
  NET P_G4          LOC = P16;
  NET P_G3          LOC = P6;
  NET P_G2          LOC = P15;
  NET P_G1          LOC = P5;
  NET P_G0          LOC = P4;
  
  NET P_B5          LOC = P99;
  NET P_B4          LOC = P98;
  NET P_B3          LOC = P94;
  NET P_B2          LOC = P93;
  NET P_B1          LOC = P19;
  NET P_B0          LOC = P9;

  NET P_RL          LOC = P12;
  NET P_UD          LOC = P3;


  NET P_STANDBY     LOC = P40;

  NET P_TST0        LOC = P46;
  NET P_TST1        LOC = P53;
  NET P_TST2        LOC = P51;

  NET P_COLOR_S0    LOC = P82;
  NET P_COLOR_S1    LOC = P97;
  NET P_COLOR_S2    LOC = P20;


